---
const { color, title, subtitle, btnText } = Astro.props
const textColor = `text-${color}`
---

<section class="slides-section bg-black h-screen w-screen text-center relative overflow-hidden"
  data-header-color={color}
>

  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class=`${textColor} pt-40 text-[40px] font-medium `>{title}</h2>
      <p class=`${textColor} text-sm`>{subtitle}</p>
    </header>

    <footer class="flex flex-col flex-grow flex-nowrap justify-end pb-20">
      <div>
        <a class="border-[3px] border-white text-sm rounded font-medium text-white px-12 py-2 hover:bg-white hover:text-black transition-colors" href="#">
          {btnText}
        </a>
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full">
    <slot name="background" />
  </div>
</section>